.footer{
    padding: 64px 0;
    background: #FFFFFF;
    h3{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    
    }
}
.footer ul li, .footer .copyright{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
    padding-bottom: 8px;
}
.footer ul li a{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
    padding-bottom: 8px;
}
.footer .logo-footer{
    padding-bottom: 28px;
    border-bottom: 1px solid #424242;
}
.footer .social{
    display: flex;
}
.footer .social li{
    margin-right: 26px;
}
@media screen and (max-width: 600px) {

}