.menu-page {
    margin-top: 64px;
    &-title {
        p {
            font-weight: 700;
            font-size: 45px;
            line-height: 70px;
        }
    }
}

.menu-day {
    margin-bottom: 40px;
    border-bottom: 1px solid #E0E0E0;

    .menu-day-header {
        background: #F5F5F5;
        padding: 16px 0;
    }
}

.menu-day-header {
    .day-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #757575;
    }
}

.menu-day-content {
    .meal-package-content {
        margin: 40px 0;

        .content {
            margin-top: 0;
            cursor: pointer;
        }
    }
}

.modal-info-content {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
    border-radius: 32px;
    border: unset;
}

.modal-info-header {
    padding: 48px 64px 32px;
    border-bottom: unset;
}

.modal-info-body {
    background: #F5F5F5;
    padding: 16px 65px;
    margin-bottom: 64px;

    .card {
        background: unset;
    }
}

.nutrition-header {
    margin: 40px 0 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #0A0A0A;
    border-bottom: 2px solid;
    padding-bottom: 16px;
}

.nutrition-table {
    .bold-text {
        td {
            font-weight: 500;
        }
    }

    thead th, th,td {
        border: unset;
        color: #3c3c3c;
        font-size: 16px;
        line-height: 24px;
    }

    td {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .nutrition-lv2 {
        td {
            &:first-child {
                padding-left: 16px;
            }
        }
    }
}

.nutrition-footer {
    margin: 16px 0 40px;

    .content {
        color: #757575;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 820px) {
    .menu-page {
        margin-top: 40px;
    }

    .menu-page .package-header-navbar {
        margin-bottom: 0px !important;
    }

    .menu-page-title p {
        font-size: 24px;
        font-weight: 500;
    }

    .menu-day {
        border-bottom: unset;
        margin-bottom: 30px;
    }

    .menu-day-header .day-text,
    .nutrition-header,
    .nutrition-table thead th, 
    .nutrition-table th, 
    .nutrition-table td {
        font-size: 14px;
    }

    .menu-day-content .meal-package-content .content {
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgb(0 0 0 / 15%);
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 13px;
    }

    .menu-day-content .col-md-4:first-child .meal-package-content {
        margin-top: 30px;
    }

    .menu-day-content .meal-package-content {
        margin: 8px;
    }

    .modal-info-header {
        padding: 64px 30px 32px;
    }

    .modal-info-header .modal-title {
        font-size: 20px;
    }

    .modal-info-header .close {
        display: block !important;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .modal-info-body {
        padding: 24px;
    }

    .nutrition-header {
        margin: 16px 0 4px;
    }

    .nutrition-table .explain-text td:last-child {
        padding-left: 0;
    }

    .nutrition-footer {
        margin: 0;
    }

    .nutrition-footer .content {
        font-size: 12px;
    }
}